<!DOCTYPE html>
<% [*@models].each do |model| %>
  <div id="model_<%= model.id %>" style="background:whitesmoke; margin: 1rem; padding: 1rem; bmodel-radius:1rem;">
    <%= link_to "model ID: #{model.id}", controller: "orders", action: "new", model: "#{ model.id }" %>
    <ul>
      <li>Shared : <%= model.share %></li>
      <li>Uploaded on : <%= model.created_at %></li>
    </ul></a>
  </div>
<% end %>
