<!DOCTYPE html>
<div class="page-content">
  <div class="grid">
    <div class="col-1-5 browse-filter">
      <div class="filter-panel">
        <p>Filter panel</p>
        <input type="checkbox">a</input>
      </div>
    </div>
    <div class="col-4-5 browse-items">
        <% if [*@models].length > 0 %>
          <% [*@models].each do |model| %>
            <div class="model-card item" id="model_<%= model.id %>">
              <div class="card-content">
                <img src="<%= model.model_url.split('.')[0] %>.png"></br>
                <p><%= JSON.parse(model.model_data)["metadata"]["filename"] %></p>
                <%= link_to "ปริ้นท์โมเดลนี้", print_settings_path(:model => model.id), class: "btn-small" %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="card">
            <div class="card-content">
              <h4><b>ไม่มีโมเดล</b></h4> 
              <p>ไม่มีโมเดลที่ถูกแชร์</p> 
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
