<!DOCTYPE html>
<div class="page-content">
  <% if [*@models].length > 0 %>
    <% [*@models].each do |model| %>
      <div class="card" id="model_<%= model.id %>">
        <div class="card-content">
         <%= link_to "model ID: #{model.id}", controller: "orders", action: "new", model: "#{ model.id }" %>
         <ul>
           <li>Shared : <%= model.share %></li>
            <li>Uploaded on : <%= model.created_at %></li>
          </ul>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="card">
      <div class="card-content">
        <h4><b>ไม่มีโมเดล</b></h4> 
        <p>คุณยังไม่ได้อัพโหลดโมเดล</p> 
      </div>
    </div>
  <% end %>
</div>
