<!DOCTYPE html>
<div class="page-content">
  <div class="panel">
    <div class="panel-header">
      <p>My page</p>
    </div>
    <div class="panel-content">
      <%= link_to "My uploads", '\my_models' %></br>
      <%= link_to "My cart", '\my_cart' %>
    </div>
  </div>
</div>
