<!DOCTYPE html>

<div class="home-content" id="home-content">
  <a class="inline btn" href='./upload'>ปริ้นท์โมเดลของคุณ</a>
  <p class="inline no-margin" style="padding: 1rem;">หรือ</p>
  <a class="inline btn" href='./browse'>เลือกซื้อโมเดลที่ผู้อื่นแชร์</a>
</div>
