<!DOCTYPE html>

<div class="upload-content" id="upload-content">
  <div id="upload-content-header">
    <p class="big-font no-margin">อัพโหลดไฟล์โมเดล</p>
  </div>
  <hr align="center" width="100%">
  <p>นามสกุลไฟล์ที่รองรับ</p>
  <ul>
    <li>.obj</li>
    <li>.stl</li>
  </ul>
  <label for="model-upload" class="custom-file-upload">เลือกไฟล์</label>
  <input id="model-upload" accept=".stl, .obj" type="file"></input>
</div>
