<!DOCTYPE html>

<div class="upload-content" id="upload-content">
  <p>อัพโหลดไฟล์โมเดล</p>
  <p>นามสกุลไฟล์ที่รองรับ</p>
  <ul>
    <li>.obj</li>
    <li>.stl</li>
  </ul>
  <label for="file-upload" class="custom-file-upload">
    <i class="fa fa-cloud-upload"></i> Custom Upload
</label>
<input id="file-upload" accept=".stl, .obj" type="file"></input>
</div>
