<!DOCTYPE html>
<div class="page-content">
  <div class="panel">
    <div class="panel-header">
      <p>คำสั่งซื้อของฉัน</p>
    </div>
    <div class="panel-content">
    <% [*@item_lists].each do |item_list| %>
      <div class="card">
      <% [*item_list].each do |item| %>
        <%= item.id %>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
