<!DOCTYPE html>
<div class="page-content">
  <div id="preview-box">
    <p id="model_url" style="display:none"><%= @model.model_url %></p>
    <select id="model-color">
      <option value="0xaaaaaa">0xaaaaaa</option>
      <option value="0xc879ce">0xc879ce</option>
      <option value="0xc5f442">0xc5f442</option>
      <option value="0xed8b9c">0xed8b9c</option>
      <option value="0x9fed9c">0x9fed9c</option>
      <option value="0x27c6be">0x27c6be</option>
      <option value="0x8364bc">0x8364bc</option>
      <option value="0xd17947">0xd17947</option>
      <option value="0x5aede0">0x5aede0</option>
      <option value="0x8388d3">0x8388d3</option>
      <option value="0xe5c347">0xe5c347</option>
    </select>
  </div>
</div>
