<div id="orders_list" style="background:whitesmoke; margin: 1rem; padding: 1rem; border-radius:1rem;">
<p class="big-font">Store management</p>
<% if @orders %>
<h2>All orders</h2>
  <ul>
  <% [*@orders].each do |order| %>
    <li><a href="manage/order/<%= order.id %>"><%= order.id %></a></li>
  <% end %>
<% end %>
</div>
