<div id="order" style="background:whitesmoke; margin: 1rem; padding: 1rem; border-radius:1rem;">
<p class="big-font">Order No. <%= @order_info[:id] %></p>
<p class="big-font">Ordered by <%= @order_info[:by] %></p>
</div>
