<!DOCTYPE html>
<div class="page-content">
  <div class="panel">
    <div class="panel-header">
      <p>ช่องทางการชำระเงิน</p>
    </div>
    <div class="panel-content">
      <form class="checkout-form" name="checkoutForm" method="POST" action="/checkout">
        <input type="hidden" name="order_id" value="<%= @order.id %>">
        <script type="text/javascript" src="https://cdn.omise.co/omise.js"
                data-key="pkey_test_5blfndm8jdo06v35pu8"
                data-amount="<%= @total %>"
                data-button-label="ชำระผ่าน Omise">
        </script>
      </form>
    </div>
  </div>
  <canvas id="canvas"></canvas>
</div>
