<!DOCTYPE html>
<div class="page-content">
  <div class="panel">
    <div class="panel-header">
      <p>Hello</p>
    </div>
    <div class="panel-content">
      <form class="checkout-form" name="checkoutForm" method="POST" action="/checkout">
        <script type="text/javascript" src="https://cdn.omise.co/omise.js"
                data-key="pkey_test_5blfndm8jdo06v35pu8"
                data-amount="12345"
                data-button-label="Pay now">
        </script>
      </form>
    </div>
  </div>
</div>
