<!DOCTYPE html>
<div class="page-content">
  <div class="panel">
    <div class="panel-header">
      <p>Hello</p>
    </div>
    <div class="panel-content">
      <p>If you see this message, your order is probably created successfully. Check the link below to see if your order showed up.</p>
      <%= link_to "LINK", my_orders_path %>
    </div>
  </div>
</div>
