<!DOCTYPE html>
<div class="page-content">
  <div class="panel">
    <div class="panel-header">
      <div style="display:table; width:100%;">
        <p style="display:table-cell">ตะกร้าสินค้า</p>
        <% if [*@cart].length > 0 %>
          <div id="order-now" style="display:table-cell; text-align:right;">
            <a class="btn-small" href="/checkout">ดำเนินการสั่งซื้อ</a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel-content">
      <% if @cart.present? %>
        <%= render @cart %>
      <% else %>
        <p>คุณไม่มีสินค้าในตะกร้า</p>
      <% end %>
    </div>
  </div>
</div>
