/*
 *= require_tree .
 *= require_self
 */

html * {
  font-family: Calibri, sans-serif;
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
}
body::after {
  content: "";
  background-image: url("owl.png");
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.navbar {
  background: #393939;
}
.navlink-block {
  padding: 1rem 0rem 1rem 1rem;
  display: inline-block;
}
.navlink-block-right {
  padding: 1rem 1rem 1rem 0rem;
  float: right;
}
.navlink {
  color: #C0C0C0;
  text-decoration: none;
}
.navlink:hover {
  color: white;
}
.inline {
  display: inline-block;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.one-rem-padding {
  padding: 1rem;
}
.big-font {
  font-size:150%;
}
