/*
 *= require_tree .
 *= require_self
 */

html * {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 100%;
}
body {
  margin: 0;
  min-height: 100vh;
  display:table;
  width:100%;
}
.content {
  display: table-row;
  height: 90%;
}
.page-header {
  margin: 0% 5% 0% 5%;
  padding: 0;
}
.navbar {
  display: table;
  width: 100%;
  margin: 0;
  padding: 2rem 0 0 0;
  color: #393939;
}
.navbar a {
  color: #393939;
  text-decoration: none;
  transition: color 0.3s;
}
.navbar a:hover {
  color: #4563C6;
}
.navbar-left {
  display: table-cell;
}
.navbar-right {
  display: table-cell;
  text-align: right;
}
.page-content-container {
  margin: 0;
  padding: 0;
}
.page-content {
  margin: 0% 5% 0% 5%;
  padding: 0;
}
.footer {
  padding: 1rem;
  "background: gainsboro;"
  display: table-row;
}
.card {
  background: #D9DDF2;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
.card .card-content {
    padding: 2px 16px;
}
.btn-small {
  background: #3F51B5;
  border-radius: 0.2rem;
  color: white !important;
  padding: 0.3rem 1rem 0.3rem 1rem;
  text-decoration: none;
}
.btn-small-alt {
  background: white;
  border: 0.15rem solid #3F51B5;
  border-radius: 0.2rem;
  color: black !important;
  padding: 0.15rem 1rem 0.15rem 1rem;
  text-decoration: none;
}
.btn-small:hover, .btn-small-alt:hover {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.4);
  transition: box-shadow 0.3s;
}
.btn {
  background: #3F51B5;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem;
  text-decoration: none;
}
.btn:hover {
  background: #4563C6;
}
.panel {
  margin: 3rem 0rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.4);
}
.panel-header {
  background: #E9E9E9;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
}
.panel-content {
  background: whitesmoke;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem;
}
.panel p {
  margin: 0;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
}
input[type="text"], input[type="password"], input[type="number"] {
  background: white;
  border: 0.1rem solid #D9D9D9;
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
}
#dropdown-menu {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
}
#dropdown-container {
  display: none;
  position: absolute;
  white-space: nowrap;
  right: 0;
  background-color: #C9C9C9;
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.5);
  padding: 0.7rem;
  z-index: 1;
}

#dropdown-container a {
  display: table-row;
  height: 1.5rem;
  text-align: left;
}
#dropdown-menu:hover {
  color: #3F51B5;
}
#dropdown-menu:hover #dropdown-container {
  display: table;
}
#dropdown-container:hover {
  display: table;
}
.grid {
  width:100%;
  margin: 3rem 0;
  display: table;
}
[class*='col-'] {
  display: table-cell;
}
.col-1-5 {
  width: 20%;
}
.col-4-5 {
  width: 80%;
}
