/*
 *= require_tree .
 *= require_self
 */

html * {
  font-family: Calibri, sans-serif;
  font-size: 100%;
}
body {
  background: lightblue;
}
.web-content {
  margin: 0% 15% 0% 15%;
  padding: 0;
  background: white;
}
.navbar {
  top: 0;
  left: 0;
  width:100%;
  background: #393939;
}
.navlink-block {
  padding: 1rem 0rem 1rem 1rem;
  display: inline-block;
}
.navlink-block-right {
  padding: 1rem 1rem 1rem 0rem;
  float: right;
}
.navlink {
  color: #C0C0C0;
  text-decoration: none;
}
.navlink:hover {
  color: white;
}
.dropdown {
  margin: 0;
  padding: 1rem;
  text-align: right;
  cursor: pointer;
}
.dropdown-container {
  top: 1rem;
  background: #292929;
  display: none;
}
.dropdown-item {
  padding: 1rem;
}
.page-content {
  width: 100%;
  margin: 0;
  padding: 0;
}
.page-footer {
  width: 100%;
  background: #393939;
}
.inline {
  display: inline-block;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.one-rem-padding {
  padding: 1rem;
}
.big-font {
  font-size:150%;
}
