/*
 *= require_tree .
 *= require_self
 */

html * {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 100%;
}
body {
  margin: 0;
}
.page-header {
  margin: 0% 5% 0% 5%;
  padding: 0;
}
.navbar {
  display: table;
  width: 100%;
  margin: 0;
  padding: 2rem 0 0 0;
  color: #393939;
}
.navbar a {
  color: #393939;
  text-decoration: none;
  transition: color 0.3s;
}
.navbar a:hover {
  color: #4563C6;
}
.navbar-left {
  display: table-cell;
}
.navbar-right {
  display: table-cell;
  text-align: right;
}
.page-content {
  margin: 3rem 5% 0% 5%;
  padding: 0;
  min-height: 640px;
}
.page-footer {
  padding: 1rem;
  background: #393939;
}
.card {
  background: wheat;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
.card-content {
    padding: 2px 16px;
}