<!DOCTYPE html>
<div class="page-content" style="margin-top:17rem; margin-bottom:17rem;">
  <div style="margin: 0 auto; text-align:center;">
    <p style="margin-bottom: 2rem;">คุณต้องการ</p>
    <a class="btn" style="display:inline;" href='/upload'>ปริ้นท์โมเดลของคุณ?</a>
    <p style="display:inline; padding:2rem;">หรือ</p>
    <a class="btn" style="display:inline;" href='#'>เลือกซื้อโมเดลที่ผู้อื่นแชร์?</a>
  </div>
</div>
