<!DOCTYPE html>
<div class="home-welcome">
  <div style="padding:20rem 20rem 30rem 20rem;">
    <div style="text-align:center;">
      <p style="padding:2rem;">คุณต้องการ</p>
      <a class="btn" style="display:inline;" href='/upload'>ปริ้นท์โมเดลของคุณ?</a>
      <p style="display:inline; padding:2rem;">หรือ</p>
      <a class="btn" style="display:inline;" href='#'>เลือกซื้อโมเดลที่ผู้อื่นแชร์?</a>
    </div>
  </div>
</div>