<!DOCTYPE html>
<html>
  <head>
    <title>PrintShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <div class="navbar">
      <div class="navlink-block">
        <a class="navlink" href='./'>หน้าหลัก</a>
      </div>
      <div class="navlink-block">
        <a class="navlink" href='./tutorial'>แนะนำบริการ</a>
      </div>
    </div>
    
    <%= yield %>
    
  </body>
</html>
